@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
section,
span,
p {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-navbar {
  background-image: url(anime.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

ul {
  display: flex;
}

li {
  margin-left: 27px;
}

a {
  color: whitesmoke;
  font-weight: bold;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

ul li:nth-child(even) {
  margin-right: 1020px;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 15%;
}

h1 {
  font-size: 8.5rem;
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
}

.horror {
  margin-bottom: 150px;
}

.horror-tittle {
  margin: 60px 0;
}

.horror-tittle h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: black;
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.horror-tittle h2 ::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.horror-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tokyo-img {
  width: 40%;
}

.tokyo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.horror-text {
  width: 40%;
}

.horror-text h4 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 40px;
  color: black;
  font-family: "Poppins", sans-serif;
  list-style: 0.5rem;
  font-weight: 50;
}

.horror-text p {
  font-size: 15px;
  text-align: center;
  color: #2c2727;
  font-family: "Poppins", sans-serif;
}

.horror1 {
  margin-bottom: 150px;
}

.horror-tittle1 {
  margin: 60px 0;
}

.horror-content1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.death-img {
  width: 40%;
}

.death-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.horror-text1 {
  width: 40%;
}

.horror-text1 h4 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 40px;
  color: black;
  font-family: "Poppins", sans-serif;
  list-style: 0.5rem;
  font-weight: 50;
}

.horror-text1 p {
  font-size: 15px;
  text-align: center;
  color: #2c2727;
  font-family: "Poppins", sans-serif;
}

.comedy {
  margin-bottom: 150px;
}

.comedy-tittle {
  margin: 60px 0;
}

.comedy-tittle h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: black;
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.comedy-tittle h2 ::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.comedy-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.spy-img {
  width: 40%;
}

.spy-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comedy-text {
  width: 40%;
}

.comedy-text h4 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 40px;
  color: black;
  font-family: "Poppins", sans-serif;
  list-style: 0.5rem;
  font-weight: 50;
}

.comedy-text p {
  font-size: 15px;
  text-align: center;
  color: #2c2727;
  font-family: "Poppins", sans-serif;
}

.comedy2 {
  margin-bottom: 150px;
}

.comedy-tittle2 {
  margin: 60px 0;
}

.comedy-tittle h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: black;
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.comedy-tittle h2 ::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.comedy-content2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.saiki-img {
  width: 40%;
}

.saiki-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comedy-text2 {
  width: 40%;
}

.comedy-text2 h4 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 40px;
  color: black;
  font-family: "Poppins", sans-serif;
  list-style: 0.5rem;
  font-weight: 50;
}

.comedy-text2 p {
  font-size: 15px;
  text-align: center;
  color: #2c2727;
  font-family: "Poppins", sans-serif;
}

.romantic {
  margin-bottom: 150px;
}

.romantic-tittle {
  margin: 60px 0;
}

.romantic-tittle h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: black;
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.romantic-tittle h2 ::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.romantic-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.darling-img {
  width: 40%;
}

.darling-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.romantic-text {
  width: 40%;
}

.romantic-text h4 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 40px;
  color: black;
  font-family: "Poppins", sans-serif;
  list-style: 0.5rem;
  font-weight: 50;
}

.romantic-text p {
  font-size: 15px;
  text-align: center;
  color: #2c2727;
  font-family: "Poppins", sans-serif;
}

.romantic2 {
  margin-bottom: 150px;
}

.romantic-tittle2 {
  margin: 60px 0;
}

.romantic-tittle2 h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: black;
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.romantic-tittle2 h2 ::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.romantic-content2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.from-img {
  width: 40%;
}

.from-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.romantic-text2 {
  width: 40%;
}

.romantic-text2 h4 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 40px;
  color: black;
  font-family: "Poppins", sans-serif;
  list-style: 0.5rem;
  font-weight: 50;
}

.romantic-text2 p {
  font-size: 15px;
  text-align: center;
  color: #2c2727;
  font-family: "Poppins", sans-serif;
}
